@model PortpolioWeb.Models.Account

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-lg-4 ml-auto mr-auto">
    <div class="card card-register">
        <h3 class="title mx-auto">Login</h3>
        <form class="register-form" asp-action="Index">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block btn-round">전송</button>
            </div>
            <div class="row">
                <div class="col text-center text-danger">
                    @if (ViewBag.Message != null)
                    {
                        <span>@ViewBag.Message</span>
                    }
                </div>
            </div>
        </form>
    </div>
</div>