@model PortpolioWeb.Models.Contact

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-lg-6 ml-auto mr-auto">
    <div class="card card-register" style="max-width:none;">
        <h3 class="title mx-auto">Contact</h3>
        <div>
            <h5 class="content text-center">
            채용에 관심있으신 분은 여기로 연락바랍니다.
            </h5>
        </div>
        <div class="col text-center text-danger">
            @if (ViewBag.Message != null)
            {
                <span style="color:black; font-weight:bold;">@ViewBag.Message</span>
            }
        </div>

        <form class="register-form" asp-action="Index">
            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <textarea asp-for="Contents" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <button type="submit" class="btn btn-block btn-round" >전송</button>
            </div>
        </form>
    </div>
</div>

