<!DOCTYPE html>

<html lang="en">

@Html.Partial("HeadPage.cshtml")

<body class="register-page sidebar-collapse">
    <!-- Navbar -->
    @Html.Partial("NavPage.cshtml")
    <!-- End Navbar -->
    <!-- <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">

        <div class="container">
            <div class="row">
            <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
                <div class="filter"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 ml-auto mr-auto">
                                <div class="card card-register">
                                    <h3 class="title mx-auto">Welcome</h3>
                                    <div class="social-line text-center">
                                        <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                    <form class="register-form">
                                        <label>Email</label>
                                        <input type="text" class="form-control" placeholder="Email">

                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password">
                                        <button class="btn btn-danger btn-block btn-round">Register</button>
                                    </form>
                                    <div class="forgot">
                                        <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer register-footer text-center">
                            <h6>© <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
                        </div>
            </div>

            </div>
        </div>
    </div> -->
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="title mx-auto">Welcome</h3>
                        <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form class="register-form">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                            <button class="btn btn-danger btn-block btn-round">Register</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer register-footer text-center">
            <h6>
                ©
                <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
            </h6>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="../assets/js/plugins/moment.min.js"></script>
    <script src="../assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/paper-kit.js?v=2.2.0" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
</body>

</html>
