<!DOCTYPE html>

<html lang="en">

@Html.Partial("HeadPage.cshtml")

<body class="profile-page sidebar-collapse">

    @Html.Partial("NavPage.cshtml")

    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('/assets/img/myimg/violet_background.jpg');">
        <div class="filter"></div>
    </div>
    <div class="profile-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("FooterPage.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

