
<div class="section landing-section">
    <div class="container ">
        <h2 class="title text-center">SKILLS</h2>

        <div>
            <!--tab menu-->
            <ul class="nav nav-tabs " style="justify-content:center;">
                <li class='col-md-3 active '>
                    <a href="#tabmenu_01" data-toggle="tab">
                        <h3 class="info-title text-center">Language</h3>
                    </a>
                </li>
                <li class="col-md-3">
                    <a href="#tabmenu_02" data-toggle="tab">
                        <h3 class="info-title text-center">Framework</h3>
                    </a>
                </li>
                <li class="col-md-3">
                    <a href="#tabmenu_03" data-toggle="tab">
                        <h3 class="info-title text-center">Database</h3>
                    </a>
                </li>
            </ul>
            <br />
            <br />
            <!--tab contents-->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tabmenu_01">
                    <div class="info row" style="justify-content:center;">
                        <div>
                            <img src="~/assets/img/skills/c.png" style="height:100px ; margin:0 20px" />
                        </div>
                        <div>
                            <img src="~/assets/img/skills/cs.png" style="height: 100px; margin: 0 20px" />
                        </div>
                        <div>
                            <img src="~/assets/img/skills/JavaScript-Logo.png" style="height: 100px; margin: 0 20px" />
                        </div>
                        <div>
                            <img src="~/assets/img/skills/html.png" style="height: 100px; margin: 0 20px" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabmenu_02">
                    <div class="info row" style="justify-content:center;">
                        <div>
                            <img src="~/assets/img/skills/aspnet.png" style="height: 100px; margin: 0 20px" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabmenu_03">
                    <div class="info row" style="justify-content:center;">
                        <div>
                            <img src="~/assets/img/skills/mssql.png" style="height: 100px; margin: 0 20px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-4">
                <h3 class="info-title text-center">Language</h3>
                <hr />
                <div class="info">
                    <div>
                        <img src="~/assets/img/skills/c.png" style="width:30px" />
                        C/C++
                    </div>
                    <div>
                        <img src="~/assets/img/skills/cs.png" style="width: 30px" />
                        C#
                    </div>
                    <div>
                        <img src="~/assets/img/skills/JavaScript-Logo.png" style="width: 30px" />
                        JavaScript
                    </div>
                    <div>
                        <img src="~/assets/img/skills/html.png" style="width: 30px" />
                        HTML
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3 class="info-title text-center">Framework</h3>
                <hr />
                <div class="info">
                    <div>
                        <img src="~/assets/img/skills/aspnet.png" style="width: 30px" />
                        ASP.NET
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3 class="info-title text-center">Database</h3>
                <hr />
                <div class="info">
                    <div>
                        <img src="~/assets/img/skills/mssql.png" style="width: 30px" />
                        MSSQL
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>


