<div class="section landing-section">
    <div class="container ">
        <h2 class="title text-center">SKILLS</h2>

        <div class="row">
            <div class="col-md-3">
                <h3 class="info-title text-center">Language</h3>
                <hr />
                <div class="info">
                    <div>
                        <img src="~/assets/img/skills/c.png" style="width:30px" />
                        C/C++
                    </div>
                    <div>
                        <img src="~/assets/img/skills/cs.png" style="width: 30px" />
                        C#
                    </div>
                    <div>
                        <img src="~/assets/img/skills/JavaScript-Logo.png" style="width: 30px" />
                        JavaScript
                    </div>
                    <div>
                        <img src="~/assets/img/skills/html.png" style="width: 30px" />
                        HTML
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h3 class="info-title text-center">Framework</h3>
                <hr />
                <div class="info">
                    <div>
                        <img src="~/assets/img/skills/aspnet.png" style="width: 30px" />
                        ASP.NET
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h3 class="info-title text-center">Database</h3>
                <hr />
                <div class="info">
                    <div>
                        <img src="~/assets/img/skills/mssql.png" style="width: 30px" />
                        MSSQL
                    </div>
                    <div>
                        <img src="~/assets/img/skills/mysql.png" style="width: 30px" />
                        MYSQL
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h3 class="info-title text-center">Experience</h3>
                <hr />
                <div class="info">
                    <div>
                        <img src="~/assets/img/skills/java.png" style="width: 30px" />
                        Java
                    </div>
                    <div>
                        <img src="~/assets/img/skills/python.png" style="width: 30px" />
                        Python
                    </div>
                    <div>
                        <img src="~/assets/img/skills/jsp.png" style="width: 30px" />
                        JSP
                    </div>
                    <div>
                        <img src="~/assets/img/skills/apache_tomcat.png" style="width: 30px" />
                        Apache-tomcat
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


