
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="owner">
    <div class="avatar">
        <img src="../assets/img/faces/myprofile.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
    </div>
    <div class="name">
        <h4 class="title">
            Choi Yeon Seong
            <br />
        </h4>
        <h6 class="description">C# Junior Programmer</h6>



    </div>
</div>