@model PortpolioWeb.Models.Manage
@{
    ViewData["Title"] = "Portpolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Portpolio</h2>
        <h5 class="description">작업했던 포트폴리오들 입니다.</h5>
    </div>
</div>
<div class="row">
    <div class="col-md ml-auto mr-auto">
        <div class="profile-tabs">
           
            <div class="row">
                @*
                    <div class="col">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="~/portpolioIMG/PetIneterest.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title font-weight-normal">Pinterest</h4>
                    <p class="card-text">반응형 웹 그리드 레이아웃 웹페이지 - Pinterest 따라하기</p>
                    <a href="https://github.com/choiyeonseong/StudyHtml#project" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>
             <div class="col">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="~/portpolioIMG/BookPopup.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title font-weight-normal">책 대여점</h4>
                    <p class="card-text">책 대여점 데스크톱 앱</p>
                    <a href="https://github.com/choiyeonseong/StudyDesktopApp#winform-%EC%B1%85-%EB%8C%80%EC%97%AC-%EA%B4%80%EB%A6%AC" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="~/portpolioIMG/StoreList.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title font-weight-normal">ERP 재고관리 앱</h4>
                    <p class="card-text">창고 관리 시스템 데스크톱 앱</p>
                    <a href="https://github.com/choiyeonseong/MiniProject_Desktop#erp-%EC%9E%AC%EA%B3%A0%EA%B4%80%EB%A6%AC-%EC%95%B1" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="~/portpolioIMG/mainwindow.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title font-weight-normal">영화 즐겨찾기</h4>
                    <p class="card-text">Naver 영화 정보와 Youtube 트레일러를 볼 수 있는 검색 시스템 데스크톱 앱</p>
                    <a href="https://github.com/choiyeonseong/MiniProject_Desktop#naver-movie-finder" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>
                *@

                @Html.Raw(Model.Contents)


            </div>
        </div>
    </div>
</div>

